@font-face {
    font-family: 'pkmn_rbygscregular';
    src: url('pkmn_rbygsc-webfont.woff2') format('woff2'),
         url('pkmn_rbygsc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'pkmn_rbygscregular';
    background-image: url('https://images6.alphacoders.com/661/661968.png');
    background-repeat: no-repeat;
}

#trainersprite {
    position: absolute;
    bottom: 1px;
    right: 40px;
    z-index: 1;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

#page {
    display: grid;
    grid-template-columns: repeat(3 , 200px);
    margin: auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 44px;
    color: rgb(167, 188, 245);
}

#search {
    text-align: center;
}

/*
 #pokedex {
    margin: 4% 22%;
    display: grid;
    grid-template: repeat(1, 350px)/repeat(3, 200px);
    grid-gap: 20px;
    position: absolute;
    
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    background-image: url("pokecard.png"); 
    background-size: cover;
    color: #222;
    text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 60%;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
    font-size: 50%;
}

.card-image {
    height: 50%;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
*/
